* {
    margin: 0;
    padding: 0;
    background-color: #333333;
    color: #ffffff;
    font-family: "Ubuntu";
}

.container {
    width: 100%;
}

table {
    border: 2px solid #ffffff;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    cursor: pointer;
    white-space: nowrap;
}